.content-card {
    margin-left: 20%;
    background: #00877b;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.side-cards {
    display: flex;
}

.side-cards >  div {
    margin: 10px;
}