.card.click-cards {
    height: 150px;
    background-color: #4b7d86;
    color: black;
    text-align: center;
    border-radius: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-content {
    height: 100%;
    /* margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%; */
}
.card.click-cards h1 {
    font-family: 'Dancing Script', cursive;
    color: black;
    height: 100%;
    font-weight: 700;
    font-size: 600%;    
}

.card.click-cards h1:hover {
    color: white;
}