html {
    scroll-behavior: smooth;
}

.content-card {
    margin-bottom: 15px;
    box-shadow: 1px 1px 30px 1px #999;
    border-radius: 2px;
}

#about {
    margin-top: 5%;
}

.content-card-text {
    font-size: 20pt;
    color: black;
    margin: 2% 10% 5% 15%;
}

.photo-holder img {
    margin-top: 30%;
    margin-left: 30%;
    border-radius: 180px;
}
    @media (max-width: 768px) {
        .photo-holder img {
            margin-top: 10%; 
            margin-left: 25%;
        }
    }

.dual-button {padding-left: 1%; padding-top: 1%; padding-bottom: 15px;}

.dual-button button {
    background-color: #E5E5E5; 
    color: black;
    border: 1px solid #E5E5E5; 
    cursor: pointer;
}

