html {
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
}

.content-card {
    margin-bottom: 15px;
    border-radius: 2px;
}

#about { margin-top: 5%;}

.card-headline {
    font-size: 25pt;
    /* color: #007bff; */
    color: #17a2b8;
}

.content-card-text {
    font-size: 20pt;
    color: black;
}

.logos {padding: 10px;}

.photo-container img {
    padding-bottom: 10px;
    padding-top: 10px;
}

.photo-holder img {
    border-radius: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dual-button {padding-left: 1%; padding-top: 10px; padding-bottom: 15px;}

.dual-button button {
    background-color: #E5E5E5; 
    color: black;
    border: 1px solid #E5E5E5; 
    cursor: pointer;
}

.dual-button-left {border-right: 1px solid black !important;}

.dual-button-right {border-left: 1px solid black !important;}

.borderless {padding-left: 0px;}

.card .custom-card {width: 100%;}

.stacked-card {margin-bottom: 10px;}

.project-row .borderless li {
    padding-left: 0px;
    padding-right: 0px;
}

.project-row .col-md-6 .custom-card-col {
    padding-left: 0px;
    padding-right: 0px;
}

.disabled {color: black;}

.custom-card-col {margin-bottom: 10px; }